#contenido{
	border-radius: 20px;
	border-style: solid;
	border-color: rgb(0, 172, 167);
	border-width: 15px;
	margin-left: 20px;
	margin-top: 20px;
	background-color: rgba(102, 102, 102,0.9);
	position : absolute;
	color: white;
	width : 97%;
	height : 81%;
}
p{
	width: 25%;
	margin: 25px;
}
body{
	background-image: url(../media/estudiante.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #66999;
}